body, html 
{   
    background-color: #212222;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    user-select: none;
}
:root
{
    --main-font: 'Open Sans', sans-serif;
    --addon-font: 'Chivo Mono', monospace;;
}
a
{
    color: white;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    transition-duration: 0.2s;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c21b21;
    transition-duration: 0.2s;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c21b21;
  
}
.left-nav-bar
{
    position: absolute;
    left: 0;
}
ul
{
    list-style-type: none;

}
ul > li
{
    color: white;
    margin-top: 20px;

}
ul > li > i
{
    padding-right: 20px;
}
.main
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 800px;
    height: 300px;
    color: white;
}
.imie-container
{
    display: flex;
    position: absolute;
}
.naziwksko-container 
{
    position: absolute;
    display: none;
}
.haslo-container2
{
    background-color: blue;
    display: none;
    position: absolute;
}
.e-mail-container 
{
    position: absolute;
    display: none;
}
.powiadomienia-container
{
    position: absolute;
    display: none;
}
.zamowienia-container
{
    position: absolute;
    display: none;
}
.left-words
{
    position: absolute;
    font-size: 25px;
    left: 0;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
    font-family: var(--addon-font);
}
.right-words
{
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--addon-font);
    position: absolute;
    letter-spacing: 2px;
    right: 0;
    font-size: 25px;
    padding: 10px;
}
.tabelka
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #303030;
}
.center-div-in-tabelka
{
    width: 100%;
    height: 80%;
    position: absolute;
    bottom:0;
    border-top: solid 5px rgb(87, 87, 87)
}
.informacje-container
{
    width: 100%;
    max-height: 100%;
}
.ifnformacja
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 75px;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
}
.napis
{
    position: absolute;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--addon-font);
    letter-spacing: 2px;
}
.edytuj
{
    position: absolute;
    right: 0;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 15px;
    font-family: var(--addon-font);
    font-weight: bolder;
    cursor: pointer;
}
.formularz-container
{
    width: 100%;
    position: absolute;
    top: 0;    
    display: none; /*flex*/
    justify-content: center;
    
}
.formularz-container-powiadomienia
{
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 20px;    
    display: flex; /*flex*/
    justify-content: center;
    
}
.edytowanie-imienia
{
    width: 50%;
    height: 200px;
    background-color: #8a8a8a;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}
.edytowanie-imienia > form
{
    text-align: center;
}
.edytowanie-imienia > form > p
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: var(--addon-font);
}
.edytowanie-imienia > form > input
{
    border: none;
    outline: none;
    width: 200px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #303030;
    color: white;
}
.edytowanie-imienia > form > p > button
{
    width: 100px;
    height: 25px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 5px;
    background: rgb(248,52,57);
    margin-top: 15px;
    background: linear-gradient(90deg, rgba(248,52,57,1) 0%, rgba(252,54,136,1) 100%);
    cursor: pointer;
}
.edytowanie-imienia > form > p > button:hover
{
    box-shadow: 0 0 7px 0px rgba(252,54,136,1);
}
.pe
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.main2
{
    width: 604px;
    height: 800px;
    margin-top: -200px;
}
.koszyk-napis
{
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--addon-font);
    padding: 10px;
}
.dokonaj-zakupu
{
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--addon-font);
    padding: 10px;
    width: 400px;
    background-color: black;
    text-align: center;
    box-shadow: 10px 10px 1px 2px rgb(0, 0, 0);
    transition-duration: 0.2s;
    margin-left: 65vh;
    margin-top: -6vh;
    cursor: pointer;
}
.dokonaj-zakupu:hover
{
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);

}
.produkt-w-koszyku
{
    width: 100%;
    overflow: auto;
    
}

.oferty-sklepowa-w-koszu
{
    margin-top: 20px;
    width: 600px;
    height: 200px;
    border: 2px solid grey;
    margin-bottom: 20px;
    border: 2px solid grey;
}
.image-place
{
    width: 200px;
    height: 200px;
    background-color: rgb(189, 189, 189);
    position: absolute;
}
.zdjecie-obiektu
{
    width: 200px;
}
.nazwa-obiektu
{
    color: white;
    position: absolute;
    margin-left: 210px;
    width: 350px;
    margin-top: 60px;
    font-weight: bolder;

}
.cena-obiektu
{
    position: absolute;
    color: white;
    font-weight: bolder;
    margin-left: 525px;
    margin-top: 25px;
    text-align: center;
}
.usun-obiekt
{
    color: white;
    font-size: 15px;
    position: absolute;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    width: 100%;

}
.usun-obiekt > span
{
    top: 250px;
}
