body, html 
{
    background-image: url("images/strona/Bez_nazwy-2.png");
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    user-select: none;
}
:root
{
    --main-font: 'Open Sans', sans-serif;
    --addon-font: 'Chivo Mono', monospace;;
}
a
{
    color: white;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    transition-duration: 0.2s;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c21b21;
    transition-duration: 0.2s;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c21b21;
  }

.nav-bar
{
    height: 100%;
    position: fixed;
    left: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    background: rgb(248,52,57);
    background: linear-gradient(180deg, rgba(248,52,57,1) 0%, rgba(252,54,136,1) 100%);
    transition-duration: 0.3s;
    z-index: 2;
}

.image-logo-top-nav-bar
{
    width: 60px;
    border-radius: 20px;
    transition-duration: 0.2s;
}
.logo-top
{
    position: absolute;
    margin-top: 55px;
}
.arrow
{
    position: absolute;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}
.button-uwu{
    list-style: none;
}
.buttons-container
{
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}
.button-text
{
    display: none;
    position: absolute;
    top: 0;
    margin-top: 180px;
    font-size: 16px;
    font-weight: bolder;
}
.button-text > li
{
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition-duration: 0.2s;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.button-text > a > li
{
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition-duration: 0.2s;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.button-icons
{
    font-size: 20px;
    position: absolute;
    top: 0;
    margin-top: 150px;
    display: block;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}
.button-icons > li:hover
{
    color: rgb(238, 238, 238);
}

.button-text > li:hover
{
    color: rgb(238, 238, 238);
}
.lieutant
{
    border-radius: 10px;
}
.button-icons >  li
{
    margin-top: 25px;
    padding-left: 20px;
    transition-duration: 0.2s;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    color:white;

}
.button-icons > a >  li
{
    margin-top: 25px;
    padding-left: 20px;
    transition-duration: 0.2s;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    color:white;

}

.button-icons > .tatrujka > li
{
    margin-top: 25px;
    padding-left: 20px;
    transition-duration: 0.1s;
    padding-right: 20px;
    border-radius: 10px;
}
.main-container
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: repeat-y;
}
.jedendwatrzy
{
    color: #f83439;
}
.sklepy-glowna-strona-screen
{
    display: flex; /*Zmienia się na none z flex*/
    justify-content: center;
    margin-left: 60px;
    height: 100%;
}
.regulamin-main-screen
{
    display: none; /*Zmienia się na flex z none*/
    justify-content: center;
    margin-left: 60px;
    height: 100%;
    align-items: center;
}
.shops-container
{
    position: absolute;
    top: 0;
    width: 1200px;
}
.shop
{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px 0px #00000091;
    display: flex;
    justify-content: center;
}
.dodajsklep
{
    background-color: #838383;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 100px;
    text-align: center;
    transition-duration: 0.3s;
    cursor: pointer;
}
.dodajsklep:active
{
    color: black;
    background-color: white;
    box-shadow: 0 0 10px 0px #00000091;
}
.dodajsklep::after
{
    height: 20px;
    display: block;
    content: "Dodaj Własny sklep";
    font-size: 20px;
    color: white;
    position: absolute;
    transition-duration: 0.3s;
    transition-delay: 0s;
    margin-top: -10px;
    opacity: 0;
}
.dodajsklep:hover:active::after
{
    opacity: 0;
}
.dodajsklep:hover::after
{
    opacity: 1;
}
.dodajsklep:hover
{
    background: rgb(248,52,57);
    background: linear-gradient(180deg, rgba(248,52,57,1) 0%, rgba(252,54,136,1) 100%);
    color: transparent;
}
.dodajsklep:hover:active
{
    color: white;
}
.logo-shop
{
    width: 80px;
}
.logo 
{
    position: absolute;
    margin-top: 10px;
}
.opis
{
    position: absolute;
    text-align: center;
    width: 220px;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 90px;
}
.nazwa
{
    position: absolute;
    margin-top: 255px;
    color: black;
}
.przejdzdosklepu
{
    width: 210px;
    height: 35px;
    border-radius: 5px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 200px;
    background: rgb(248,52,57);
    font-family: var(--addon-font);
    cursor: pointer;
    background: linear-gradient(90deg, rgba(248,52,57,1) 0%, rgba(252,54,136,1) 100%);
}
.ustawienia-screen
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("img/Bez_nazwy-2.png");
    display: flex;
    filter: blur(2px);
    justify-content: center;
    align-items: center;
}
.ustawienia-container
{
    width: 75%;
    height: 90%;
    position: absolute;
    box-shadow: 0 0 10px 0px #00000091;
    border-radius: 10px;
    background-image: url("img/urozmaicenie.svg");
}
.logo-left-fajne
{
    width: 12%;
    position: absolute;
    right: 0;
}
.edytowanie-informacji-konta-container
{
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(42, 42, 42);
    overflow: auto;
}
.edytowanie-informacji-konta-container > .div > p
{
    margin-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    word-spacing: 0.25vh;
    font-weight: bolder;
}
.guzik
{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2vh;
    font-weight: bolder;
    border: none;
    background: rgb(248,52,57);
    font-family: var(--addon-font);
    cursor: pointer;
    background: linear-gradient(90deg, rgba(248,52,57,1) 0%, rgba(252,54,136,1) 100%);
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    transition-duration: 0.2s;
    padding-bottom: 1vh;
    border-radius: 1.25vh;
}
.guzik:hover
{
    box-shadow: 0 0 10px 1px rgb(248,52,57);
}
.usun:hover
{
    background-color: #c21b21;
}
.wyloguj:hover
{
    background-color: #c21b21;
}
.nazwa-ustawienia
{
    font-size: 2.5vh;
    text-transform: uppercase;
}
.wartosc-ustawienia
{
    font-size: 2.6vh;
    text-align: center;
    letter-spacing: 1px;
}
.zmiana-wartosci-ustawienia
{
    background: rgb(248,52,57);
    background: linear-gradient(180deg, rgba(248,52,57,1) 0%, rgba(252,54,136,1) 100%);
    color: white;
    padding: 1.25vh;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
    transition-duration: 0.2s;
}
.zmiana-wartosci-ustawienia:active
{
    box-shadow: 0 0 5px 0 rgb(248,52,57);
}
.div
{
    text-align: center;
    width: 40%;
}
.emailniepotwierdzony
{
    background: rgb(248,52,57);
    color: white;
    padding: 1.25vh;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
.formularz-zmiana-wartosci
{
    text-align: center;
    display: flex; /*tutaj z none na flex sie zmienia*/
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
}
.background-tego-forma
{
    background-color: white;
    box-shadow: 0 0 50px 3px #838383;
    width: 40%;
    height: 45%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.background-tego-forma > form > p
{
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-family: var(--addon-font);
    font-size: 1.85vh;
}
.background-tego-forma > form > input
{
    background-color: transparent;
    width: 200px;
    border: none;
    transition-duration: 0.3s;
    outline: none;
    border-bottom: 3px solid black;
    padding-left: 30px;
    font-size: 2vh;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
}
.background-tego-forma > form > input:hover
{
    width: 400px;
}
.background-tego-forma > form > input:active
{
    width: 400px;
}
.guziok
{
    width: 100px;
    height: 25px;
    font-size: 2vh;
    background: rgb(248,52,57);
    background: linear-gradient(180deg, rgba(248,52,57,1) 0%, rgba(252,54,136,1) 100%);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    transition-duration: 0.2s;
}
.guziok:hover
{
    box-shadow: 0 0 5px 0 rgb(248,52,57);
}
.regulamin-container
{
    width: 40%;
    height: 90%;
    box-shadow: 0 0 50px 3px #838383;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.regulamin-napis
{
    font-size: 3.5vh;
    font-family: var(--addon-font);
    letter-spacing: 0.45vh;
    margin-top: 0.70vh;
    font-weight: lighter;
    position: absolute
}
.regulamin-wsrodku
{
    height: 80%;
    width: 100%;
    overflow: auto;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}
.regulamin-text
{
    height: 100%;
    width: 70%;
    text-align: left;
}
.stopka
{
    position: absolute;
    font-size: 11px;
    margin-top: 87.5vh
}
@media only screen and (max-width: 1300px)
{
    .shops-container
    {
        width: 600px;
    }
    .regulamin-container
    {
        width: 60%;
    }
}
@media only screen and (max-width: 680px)
{
    .shops-container
    {
        width: 300px;
    }
    .regulamin-container
    {
        width: 80%;
    }
}
@media only screen and (max-width: 450px)
{
    .regulamin-container
    {
        width: 90%;
        margin-left: 20px;
    }
    .regulamin-text
    {
        width: 90%;
    }
    .sklepy-glowna-strona-screen
    {
        margin-left: -20px;
    }
    .login-conatiner2
    {
        width: 20rem;
        height: 21rem;
    }
    .login-conatiner
    {
        width: 20rem;
    }
    .form-container2
    {
        width: 100%;
        background-color: transparent;
    }
    .form-container2 > form > input
    {
        font-size: 13px;
    }
    .form-container
    {
        width: 100%;
        background-color: transparent;
        margin-top: 80px;
    }
    .form-container > form > input
    {
        font-size: 13px;
    }
    .form-container > p
    {
        font-size: 13px;
        margin-top: 17px;
    }
    .shops-container
    {
        margin-left: 110px;
    }

}
