body, html 
{
    background-color: #dfe0e0;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    user-select: none;
}
:root
{
    --main-font: 'Open Sans', sans-serif;
    --addon-font: 'Roboto Condensed', sans-serif;
}
a
{
    text-decoration: none;
}
.login-conatiner
{
    width: 45rem;
    height: 28rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.login-conatiner2
{
    width: 45rem;
    height: 28rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.logo-image-login-register
{
    width: 80px;
    border-radius: 10px;
}
.logo-container
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
}
.form-container
{
    text-align: center;
    margin-top: 120px;
    width: 60%;
    height: 45%;
    border-radius: 10px;
}
.form-container > form
{
    margin-top: 20px;
}
.form-container > form > p
{
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 16px;
}
.form-container > form > span
{
    position: absolute;
    color: #f83439;
    font-size: 20px;
    margin-left: 10px;
}
.form-container > form > input
{
    width: 40%;
    height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    transition-duration: 0.2s;
    font-size: 16px;
    border-bottom: 2px solid #0f1621;
    padding-left: 40px;

}
.form-container > form > input:hover
{
    width: 80%;
}
.form-container > form > input:focus
{
    width: 80%;
}
.form-container > form > p > button
{
    border: none;
    width: 150px;
    height: 25px;
    background-color: #f83439;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    transition-duration: 0.2s;
}
.form-container > form > p > button:hover
{
    box-shadow: 0 0 5px 0px #f83439;
    width: 200px;
}
.form-container > form > p > button:active
{
    box-shadow: 0 0 20px 0px #f83439;
}
.form-container > p
{
    font-size: 13px;
    margin-top: 70px;
    color: grey;
}
.form-container > p > a > span
{
    color: grey;
    transition-duration: 0.2s;
}
.form-container > p > a > span:hover
{
    color: #f83439;
}
.form-container2
{
    text-align: center;
    margin-top: 95px;
    width: 60%;
    height: 68%;
    border-radius: 10px;
}
.form-container2 > form > p
{
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 16px;
}
.form-container2 > form > span
{
    position: absolute;
    color: #f83439;
    font-size: 20px;
    margin-left: 10px;
}
.form-container2 > form > input
{
    width: 40%;
    height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    transition-duration: 0.2s;
    font-size: 16px;
    border-bottom: 2px solid #0f1621;
    padding-left: 40px;

}
.form-container2 > form > input:hover
{
    width: 80%;
}
.form-container2 > form > input:focus
{
    width: 80%;
}
.form-container2 > form > p > button
{
    border: none;
    width: 150px;
    height: 25px;
    background-color: #f83439;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    transition-duration: 0.2s;
}
.form-container2 > form > p > button:hover
{
    width: 200px;
    box-shadow: 0 0 5px 0px #f83439;
}
.form-container2 > form > p > button:active
{
    box-shadow: 0 0 20px 0px #f83439;
}
.form-container2 > p
{
    font-size: 13px;
    color: grey;
}
.form-container2 > p > a > span
{
    color: grey;
    transition-duration: 0.2s;
}
.form-container2 > p > a > span:hover
{
    color: #f83439;
}
.nav-bar
{
    height: 100%;
    position: fixed;
    left: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    background-color: #dfe0e0;
    border-right: 2px solid #0f1621;
    transition-duration: 0.3s;
    box-shadow: 0 0 10px 2px #0f1621;
}


.image-logo-top-nav-bar
{
    width: 60px;
    border-radius: 20px;
    transition-duration: 0.2s;
}
.logo-top
{
    position: absolute;
    margin-top: 55px;
}
.arrow
{
    position: absolute;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    color: #f83439;
}
.button-uwu{
    list-style: none;
}
.buttons-container
{
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}
.button-text
{
    display: none;
    position: absolute;
    top: 0;
    margin-top: 180px;
    font-size: 16px;
    font-weight: bolder;
}
.button-text > li
{
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition-duration: 0.2s;
    border-radius: 10px;
    color: black;
}

.button-icons
{
    font-size: 20px;
    position: absolute;
    top: 0;
    margin-top: 150px;
    display: block;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}
.button-icons > li:hover
{
    border-radius: 10px;
    color: white;
}

.button-text > li:hover
{
    border-radius: 10px;
    color: white;
}
.lieutant
{
    border-radius: 10px;
}
.button-icons >  li
{
    margin-top: 25px;
    padding-left: 20px;
    transition-duration: 0.2s;
    padding-right: 20px;
    border-radius: 10px;
    color: #0f1621;

}
.lieutant1
{
    color: #f83439;

}
.lieutant1:hover
{
    color: #f83439;
}
.lieutant1:active
{
    color: #f83439;
}
.button-icons > .tatrujka > li
{
    margin-top: 25px;
    padding-left: 20px;
    transition-duration: 0.1s;
    padding-right: 20px;
    border-radius: 10px;
}
.jedendwatrzy
{
    color: #f83439;
}

@media only screen and (max-width: 450px)
{
    .login-conatiner2
    {
        width: 20rem;
        height: 21rem;
    }
    .login-conatiner
    {
        width: 20rem;
    }
    .form-container2
    {
        width: 100%;
        background-color: transparent;
    }
    .form-container2 > form > input
    {
        font-size: 13px;
    }
    .form-container
    {
        width: 100%;
        background-color: transparent;
        margin-top: 80px;
    }
    .form-container > form > input
    {
        font-size: 13px;
    }
    .form-container > p
    {
        font-size: 13px;
        margin-top: 17px;
    }
}
