<%- include('./parts/koszyk') %>

<body>
    <div class="logo-left">
        <img src="<%- image %>" alt="" class="logo-z-lewej-d-koszyka">
    </div>
    <div class="main">
        <div class="koszyk-napis">
            <span>Twój koszyk</span>
        </div>
        <div class="dokonaj-zakupu">
            <span>Dokonaj zakupu</span>
        </div>
        <div class="produkt-w-koszyku">
            <div class="oferty">
                <%- include('./parts/item') %>
            </div>
        </div> 
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>
