<%- include('./head/head.ejs') %>
    <div class="logo">
        <img src="/images/strona/logo2.png" alt="" class="logouwuwuw">
    </div>
    <div class="kreator-container">
        <%- wyglad %>

    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>