<html>

<head>

</head>

<body>
  <form action="/login/validate" method="post">
    <input id="email" name="email" type="email">
    <input type="password">
    <input type="submit">
  </form>
</body>

</html>