<%- include('./parts/header') %>

    <body>
        <div class="nav-bar" id="navbar">
            <span id="strzalka" class="arrow arrow-show-hide" onclick="zmiana()"><i
                    class="fa-solid fa-arrow-right"></i></span>
            <div class="logo-top">
                <img src="images/strona/logo.png" alt="" class="image-logo-top-nav-bar" id="logo">
            </div>
            <div class="buttons-container" id="container">
                <div class="button-text button-uwu znikanietext" id="litery">
                    <li id="jeden" class="lieutant1" onclick="pokaz('sklepy')">
                        <div>Strona Główna</div>
                    </li>
                    <li id="dwa" class="lieutant" onclick="dwa()">
                        <div>Twoje sklepy</div>
                    </li>
                    <li id="trzy" class="lieutant" onclick="trzy()">
                        <div>Zamówienia</div>
                    </li>
                    <li id="pienc" class="lieutant" onclick="pokaz('regulamin')">
                        <div>Regulamin</div>
                    </li>
                    <li id="szesc" class="lieutant" onclick="szesc()"><a href="/profil">
                            <div>Profil</div>
                        </a></li>
                    <li id="osiom" class="lieutant" onclick="osiom()"> <a href="http://51.83.250.85:8000">
                            <div>Admin</div>
                        </a></li>
                </div>
                <div class="button-icons button-uwu znikanieikony" id="ikony">
                    <li id="jeden2" class="lieutant1" onclick="pokaz('sklepy')"><i class="fa-solid fa-house"></i></li>
                    <li id="dwa2" class="lieutant" onclick="dwa()"><i class="fa-solid fa-shop-lock"></i></li>
                    <li id="trzy2" class="lieutant" onclick="trzy()"><i class="fa-solid fa-bag-shopping"></i></li>
                    <li id="pienc2" class="lieutant" onclick="pokaz('regulamin')"><i class="fa-solid fa-scroll"></i></li>
                    <li id="szesc2" class="lieutant" onclick="szesc()"><a href="/profil"><i class="fa-solid fa-user"></i></a></li>
                    <li id="osiom2" class="lieutant" onclick="osiom()"><a href="http://51.83.250.85:8000"><iclass="fa-solid fa-lock"></i></a></li>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="sklepy-glowna-strona-screen" id="sklepy">
                <div class="shops-container">
                    <%- sklepy %>
                        <%- nowy %>
                </div>
            </div>
            <div class="regulamin-main-screen" id="regulamin">
                <div class="regulamin-container">
                    <div class="regulamin-napis"><span>Regulamin</span></div>
                    <div class="regulamin-wsrodku">
                        <div class="regulamin-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi fugit corporis amet
                            laudantium! Laborum, neque! Similique nihil at aperiam facere, nisi, amet, odio dolores
                            corrupti libero a vel odit?
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/content.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>

    </html>