<%- include('./parts/head') %>
<body>
    <div class="login-conatiner">
        <div class="logo-container">
            <img src="images/strona/logo2.png" alt="" class="logo-image-login-register">
        </div>
        <div class="form-container2">
            <%- message %>
            <form action="/rejestracja/nowe" method="post" autocomplete="off">
			    <p>Podaj Imię: </p>
                <span><i class="fa-solid fa-signature"></i></span>
                <input type="text" name="name" required>
                <p>Podaj Nazwisko: </p>
                <span><i class="fa-solid fa-signature"></i></span>
                <input type="text" name="naz" required>
                <p>Podaj Mail: </p>
                <span><i class="fa-regular fa-envelope"></i></span>
                <input type="email" name="mail" required>
                <p>Podaj Hasło: </p>
                <span><i class="fa-solid fa-lock"></i></span>
                <input type="password" name="haslo" required>
                <p><button type="submit">Zaloguj</button></p>
            </form>
            <p>Posiadasz już konto?<br><a href="/login"><span>Zaloguj się!</span></a></p>
        </div>
    </div>
</body>
</html>