<div class="oferty-sklepowa-w-koszu">
    <div class="image-place">
        <img src="https://cdn.discordapp.com/attachments/1088408367069921320/1088786901894443008/abibas2.png" alt="" class="zdjecie-obiektu">
    </div>
    <div class="nazwa-obiektu">
        <%- koszyk.nazwa %>
    </div>
    <div class="cena-obiektu">
        <%- koszyk.cena %> zł
    </div>
    <div class="usun-obiekt">
        <i class="fa-sharp fa-solid fa-x"></i>
    </div>
</div>