                <div class="oferta">
                    <div class="image-container">
                        <img src="https://media.discordapp.net/attachments/1088408367069921320/1088786901894443008/abibas2.png?width=750&height=671" alt="" class="obrazek-ofert">
                    </div>
                    <div class="szybki-opis">
                        <span>Myjobot 3000. Bot myjący stopy</span>
                    </div>
                    <div class="przejdz-oferta-button">
                        <div class="guzior-na-miare-oferty guzior123"> <i class="fa-solid fa-cart-plus"></i></div>
                       <a href="info"> <div class="guzior-na-miare-czytania-dalej guzior123" ><i class="fa-solid fa-info"></i></div></a>
                    </div>
                </div>