<%- include('./parts/head') %>

    <body>
        <div class="left-panel">
            <ul>
                <li><a href="/">Informacje</a></li>
                <li><a href="/motywy">Motywy</a></li>
                <li>Zamówienia</li>
                <li>Rezerwacje</li>
                <li><a href="/oferta">Oferty</a></li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="informacje-screen">
                <div class="div-na-zmiany">
                    <!-- <div class="formularz-zmiana-nazwy" id="nazwy">
                        <div class="formularz-container-powiadomienia">
                            <div class="edytowanie-imienia">
                                <form method="post" action="/?nazwa=true">
                                    <p>Podaj nową nazwę</p>
                                    <input type="text" name="nazwa">
                                    <p>
                                        <button type="submit">Zatwierdź</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div> -->
                    <div class="formularz-zmiana-loga" id="loga">
                        <div class="formularz-container-powiadomienia">
                            <div class="edytowanie-imienia" >
                                <form method="post" action="/?logo=true" enctype="multipart/form-data">
                                    <p>Wybierz nowe logo</p>
                                    <input type="file" name="zdjecie" accept=".jpg, .png, .jpeg, .webp" required>
                                    <p>
                                        <button type="submit">Zatwierdź</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="formularz-zmiana-opis" id="opis">
                        <div class="formularz-container-powiadomienia">
                            <div class="edytowanie-imienia">
                                <form method="post" action="/?opis=true">
                                    <p>Napisz nowy opis</p>
                                    <textarea name="dobre" id="" cols="30" rows="10"></textarea>
                                    <p>
                                        <button type="submit">Zatwierdź</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="zmiana-nazwy zmiana">
                        <div class="aktualne-nazwa">
                            <%- informacje.nazwa %>
                        </div>
                        <!-- <div class="edytuj">
                            <button onclick="pokaz('nazwy')">Edytuj <i class="fa-solid fa-pen"></i></button>
                        </div> -->
                    </div>
                    <div class="zmiana-loga zmiana">
                        <div class="aktualne">
                            <img src="<%- informacje.logo %>" alt="" class="foto-na-zmianie">
                        </div>
                        <div class="edytuj">
                            <button  onclick="pokaz('loga')">Edytuj <i class="fa-solid fa-pen"></i></button>

                        </div>
                    </div>
                    <div class="zmiana-opisu zmiana">
                        <div class="aktualne-opis">
                            <%- informacje.opis %>
                        </div>
                        <div class="edytuj">
                            <button  onclick="pokaz('opis')">Edytuj <i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="/javascripts/admin.js"></script>
        <script>
            AOS.init();
        </script>
    </body>

    </html>