<%- include('./parts/head') %>

    <body>
        <div class="left-panel">
            <ul>
                <li><a href="/">Informacje</a></li>
                <li><a href="/motywy">Motywy</a></li>
                <li>Zamówienia</li>
                <li>Rezerwacje</li>
                <li><a href="/oferta">Oferty</a></li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="informacje-screen">
                <div class="div-na-zmiany">
                    <div class="zmiana-nazwy zmiana">
                        <div class="aktualne-nazwa">
                            <%- informacje.nazwa %>
                        </div>
                        <div class="edytuj">
                            <button>Edytuj <i class="fa-solid fa-pen"></i></button>

                        </div>
                    </div>
                    <div class="zmiana-loga zmiana">
                        <div class="aktualne">
                            <img src="<%- informacje.logo %>"
                                alt="" class="foto-na-zmianie">
                        </div>
                        <div class="edytuj">
                            <button>Edytuj <i class="fa-solid fa-pen"></i></button>

                        </div>
                    </div>
                    <div class="zmiana-opisu zmiana">
                        <div class="aktualne-opis">
                            <%- informacje.opis %>
                        </div>
                        <div class="edytuj">
                            <button>Edytuj <i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>

    </html>