<%- include('./parts/head') %>

    <body>
        <div class="left-panel">
            <ul>
                <li><a href="/">Informacje</a></li>
                <li><a href="/motywy">Motywy</a></li>
                <li>Zamówienia</li>
                <li>Rezerwacje</li>
                <li><a href="/oferta">Oferty</a></li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="motyw-screen">
                <%- message %>
                <div class="right-motyw">
                    <div class="motywy-container">
                        <div class="motywy">
                            <div class="motywy-left">
                                <a href="/motywy?opcja=1">
                                    <div class="motyw-jest-uwu motywjeden motwy-podwujny">
                                        <div
                                            style="background-color: white; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        </div>
                                        <div
                                            style="background-color: black; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                        </div>
                                    </div>
                                </a>
                                <a href="/motywy?opcja=2">
                                    <div class="motyw-jest-uwu motywdwa">
                                        <div
                                            style="background-color: #CB997E; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        </div>
                                        <div style="background-color: #A5A58D;"></div>
                                        <div
                                            style="background-color: #F0EFEB; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="motywyprawo">
                                <a href="/motywy?opcja=3">
                                    <div class="motyw-jest-uwu motywtrzy">
                                        <div
                                            style="background-color:  #FAD2E1; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        </div>
                                        <div style="background-color: #BEE1E6;"></div>
                                        <div
                                            style="background-color: #FFFFFC; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                        </div>
                                    </div>
                                </a>
                                <a href="/motywy?opcja=4">
                                <div class="motyw-jest-uwu motywcztery">
                                        <div style="background-color:  #4A2419; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        </div>
                                        <div style="background-color: #343434;"></div>
                                        <div
                                            style="background-color: #006466; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <span class="akceptuj">Edtyuj</span>


                </div>
            </div>
        </div>
    </body>

    </html>